<div>
  {{#if hasError}}
  <div class="errorDiv"><p class="errorP">{{error}}</p></div>
  {{/if}}
  <form id="addTopic-form" action="/private/addTopic" method="POST">
    <label for="type" class="accLabels">Topic Type</label>
    <select id="type" name="type">
    <option value="artist">Artist</option>
    <option value="album">Album</option>
    </select>
    <button type="submit" class="button2">Next</button>
  </form>
</div>
<br>
<div id="nextStep">

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../../../public/js/addTopic.js"></script>