{{#if isArtist}}
<p>Artist added successfully.</p>
<a id="viewPage" href="/all/{{artist._id}}" class="navLinks"> View {{artist.name}}'s Page</a>
{{/if}}

{{#if isAlbum}}
<p>Album added successfully.</p>
<a id="viewPage" href="/all/{{album._id}}" class="navLinks"> View {{album.name}} Page</a>
{{/if}}


<a id="addTopicAgain" href="/private/addTopic" class="navLinks">Add Another Topic</a>