{{#if isArtist}}
<p>Artist added successfully.</p>
<a id="viewPage" href="/all/{{artist._id}}"> View {{artist.name}}'s Page</a>
{{/if}}

{{#if isAlbum}}
<p>Album added successfully.</p>
<a id="viewPage" href="/all/{{album._id}}"> View {{album.name}} Page</a>
{{/if}}


<a id="addTopicAgain" href="/private/addTopic">Add Another Topic</a>