<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<header id="navBar">
    <ul> 
        <li class="navLinks"><a href="/"> Home </a> </li>
        <li class="navLinks"><a href="/about"> About Us </a> </li>
        <li class="navLinks"><a href="/topReviewed"> Top Reviewed </a> </li>
        <li class="navLinks"><a href="/private/addTopic"> Add a Topic </a> </li>
    </ul>
</header>
<body>
    {{{body}}}
</body>
</html>