<h3 class="accLabels">{{{title}}}</h3>

<form method="POST" action="/account/profile/delete" id="delete-form">
    <p class="accLabels" >Click the Button Below to Delete your Account *Forever*</p>
    <button type="submit" class="accButton">Delete</button>
</form>

<br>

<a href="/" class="navLinks">Cancel</a>