<section>
    <h1>{{title}}</h1>
    <form method="POST" action="/account/login" id="login-form" >
        <label for="username">Username: </label> 
        <input type="text" id="username" name="username">

        <br>
        <br>

        <label for="password">Password:  </label> 
        <input type="password" id="password" name="password">

        <br>
        <br>

        <button type="submit">Submit</button>
    </form>

    <br>

    <div>
        <a href="/account/signup">Don't have an account? Click here to sign-up!</a>
    </div>

    <br>
    <br>

    {{#if error}}
        <div>{{error}}</div>
    {{/if}}

</section>
