<section>
    <h1 class="accLabels">{{title}}</h1>
    {{! -- <p id="routeTo" hidden>{{route}}
    <form method="POST" action="/account/login" id="login-form">
        <label for="username" class="accLabels">Username: </label> 
        <input type="text" id="username" name="username" class="accInput">

        <br>
        <br>

        <label for="password" class="accLabels">Password:  </label> 
        <input type="password" id="password" name="password" class="accInput">

        <br>
        <br>

        <button type="submit" class="accButton">Submit</button>
    </form>

    <br>

    <div>
        <a href="/account/signup" class="navLinks">Don't have an account? Click here to sign-up!</a>
    </div>

    <br>
    <br>

    {{#if error}}
        <div class="errorDiv"><p class="errorP">{{error}}</p></div>
    {{/if}}

</section>
