<section>
    <h1 class="accLabels">{{{title}}}</h1>
    <br>
    <p class="accLabels">Username: {{{username}}}</p>
    <p class="accLabels">Password: {{{password}}}</p>
    <p class="accLabels">Email:    {{{email}}}</p>
    <br>
    <a href="/account/profile/edit" class="navLinks">Edit My Profile</a>
    <a href="/account/profile/delete" class="navLinks">Delete My Profile</a>
</section>