<section>
    <h3>{{{title}}}</h3>
    <br>
    <p>Username: {{{username}}}</p>
    <p>Password: {{{password}}}</p>
    <p>Email:    {{{email}}}</p>
    <br>
    <a href="Link to Homepage">Back To Homepage</a>
</section>