<h1> {{title}} </h1>
<section>
    <h3>Discussions</h3>

    {{#if emptyDiscussions}}
        <p>No Discussions Found for that ID</p>
    {{/if}}

    {{#each discussions}}
        <h6>
            <p>{{body}}</p>
        </h6>
    {{/each}}
</section>

<section>
    <h3>Reviews</h3>

    {{#if emptyReviews}}
        <p>No Reviews Found for that ID</p>
    {{/if}}

    {{#each reviews}}
        <h6>
            <p>{{body}}</p>
        </h6>
    {{/each}}
</section>
