<section>
    <h1 class="heading">Our Story</h1>

    <p>
        Our team is made up of several computer science students who face challenging problems in their classes. 
        To get through this we find music to be something that we can lean on to find relaxation through our day to day. 
        We enjoy listening to a plethora of music genres, bands, and artists and so we decided to create a platform that would allow you to get the same experience and also find others who have similar taste as you. 
    </p>
    <p>
        We want to incorporate several features that allow users to converse with each other as well as create a safe space for opinions in regards to music. 
        These features include a forum for discussion and a form that allows users to submit reviews. 
        The purpose of this application is to create a safe-space for music-lovers who wish to discuss what they feel passionate about. 
        In this chaotic world we live in, our mission is to help nurture a home for tranquility.  
    </p>

    <h1 class="heading">Our Team</h1>
    <p>
        Our team is composed of:
    </p>
    <ul>
        <li>Isabella Cruz</li>
        <li>Kera McGovern</li>
        <li>Patrick McDonough</li>
        <li>Roma Razdan</li>
    </ul>
    <p>
        We are computer science students who love music and crave it as a form of relaxation. 
        We have always felt that we are too limited on other platforms and wanted to introduce a discussion feature to a streaming platform. 
    </p>    
    <p>
        In order to contact us with any questions or suggestions please reach out to 973-000-0000.   
    </p>

    <a href="/" class="navLinks">Back To Homepage</a>

</section>