<section>
  {{#if hasError}}
  <div class="errorDiv"><p class="errorP">{{error}}</p></div>
  {{/if}}
  <h3 class="heading">{{discussionTitle}}</h3>
  <p>{{discussionBody}}</p>
  <form id="comment-form" action="/private/create/comment/{{discussionId}}" method="POST">
    <textarea id="commentResponse" name="commentResponse" rows="10" cols="40">Enter your comment here.</textarea>
    <button type="submit" class="button2">Post</button>
  </form>
</section>