<header>
    <nav>
        <ul> 
            <li style="display:inline; padding: 8px"><a href="/about"> About Us </a> </li>
            {{#if username}}
                <li style="display:inline; text-align:right">Welcome {{{username}}}</li>
            {{else}}
                <li style="display:inline; text-align:right"><a href="/account/login">Login</a></li>
                <li style="display:inline; text-align:right"><a href="/account/signup">Sign Up</a></li>
            {{/if}}
        </ul>

    </nav>
</header>

<h1 style="text-align:center">Tranquility & Bass</h1>



<main>
    <p>insert search bar here - form</p>
</main>