<header id="homeHeader">
        <ul> 
            {{#if username}}
                <li class="navLinks">Welcome {{{username}}}</li>
                <li class="navLinks"><a href="/account/profile">View My Profile</a></li>
            {{else}}
                <li class="navLinks"><a href="/account/login">Login</a></li>
                <li class="navLinks"><a href="/account/signup">Sign Up</a></li>
            {{/if}}
        </ul>
</header>

<h1 id="title">Tranquility & Bass</h1>

<main id="searchDiv">
    <form method="POST" action="/" id="search-form">
        <label for="searchTerm" class="accLabels">Search:  </label> 
        <input type="text" id="searchTerm" name="searchTerm" class="accInput">
        <button type="submit" class="button2">Submit</button>
    </form>
    <p class="accLabels" style="text-align:center">Search any artist, album, or song!</p>
    <br>
    {{#if error}}
        <div class="errorDiv"><p class="errorP">{{error}}</p></div>
    {{/if}}
</main>