<header>
        <ul> 
            {{#if username}}
                <li style="display:inline; padding: 15px">Welcome {{{username}}}</li>
            {{else}}
                <li style="display:inline; padding: 15px"><a href="/account/login">Login</a></li>
                <li style="display:inline; padding: 15px"><a href="/account/signup">Sign Up</a></li>
            {{/if}}
        </ul>
</header>

<h1 style="text-align:center">Tranquility & Bass</h1>

<main>
    <h2>Search</h2>
    <form method="POST" action="/" id="search-form">
        <label for="searchTerm">
        <input type="text" id="searchTerm" name="searchTerm">
        </label>
        <button type="submit">Submit</button>
    </form>
    <p>Search any artist, album, or song!</p>
    <br>
    {{#if error}}
        <div style="border:5px; border-color:red">{{error}}</div>
    {{/if}}
</main>